.App {
  height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
}

.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #ffffffc2;
}

.App > div > h1 {
  transform: translateY(220px);
}

.visitor {
  --rotation: -110;
  /* height: calc(1px * var(--height)); */
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.needle {
  transform: rotate(calc(var(--rotation) * 1deg));
  width: 20px;
  height: 200px;
  background-color: red;
  position: absolute;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

#arrow {
  display: none;
}

svg {
  position: absolute;
  width: inherit;
  height: inherit;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers .count {
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: right;
  transform: translateY(230px);
}
.gifContainer {
  position: absolute;
}

img {
  height: 70vh;
}

#one,
#two,
#three {
  fill: yellow;
}

#four,
#five,
#six {
  fill: yellowgreen;
}
#seven,
#eight,
#nine {
  fill: green;
}
#ten,
#eleven {
  fill: orange;
}

#twelve,
#thirteen {
  fill: red;
}
