.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.visitor {
  --rotation: -110;
  /* height: calc(1px * var(--height)); */
  height: 217px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.needle {
  transform: rotate(calc(var(--rotation) * 1deg));
  width: 20px;
  height: 100px;
  background-color: red;
  position: absolute;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.Speedometer {
  background-color: black;
  height: 400px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3;
}

path {
  fill: white;
  stroke: black;
}
#arrow {
  display: none;
}

svg {
  position: absolute;
  width: inherit;
  height: inherit;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers div {
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 5px;
}
